# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_7lb6l84
VITE_EMAILJS_TEMPLATE_ID=template_qgatt3a
VITE_EMAILJS_PUBLIC_KEY=BAZMaB5Oz9sGOVVqX

# Google Analytics (optional)
VITE_GA_ID=G-XXXXXXXXXX
